extends layout

block vars
    - var title = 'Header file dependency analyzer'

block content
    style.
        #param {
            position: absolute;
            top: 0px;
            height: 140px;
            left: 0px;
            width: 20%;
            background-color: #eee;
            overflow: hidden;
            border-radius: 0px 0px 10px 10px;
        }
        #filter {
            position: absolute;
            top: 140px;
            height: 65px;
            left: 0px;
            width: 20%;
            background-color: #ddd;
            overflow: hidden;
            border-radius: 10px;
        }
        #modules {
            position: absolute;
            top: 205px;
            bottom: 0px;
            left: 0px;
            width: 20%;
            overflow: auto;
        }
        #header {
            position: absolute;
            top: 0px;
            height: 10ex;
            right: 0px;
            width: 80%;
            background-color: #eee;
            overflow: hidden;
        }
        #diagram {
            position: absolute;
            top: 10ex;
            bottom: 0px;
            right: 0px;
            width: 80%;
            background-color: #fff;
            overflow: auto;
        }
        .padding-h {
            padding-left: 20px;
            padding-right: 20px;
        }
        .padding {
            padding: 20px;
        }
        .foreign td:nth-child(1) {
            color: #aaa;
        }
        .param {
            padding: 10px 0px 8px 0px;
        }
        .param span {
            padding-right: 15px;
        }


        .fixed-table-container-inner {
          overflow-x: hidden;
          overflow-y: auto;
          height: 100%;
        }

        .header-background {
          background-color: #eee;
          height: 77px; /* height of header */
          position: absolute;
          top: 0;
          right: 17px;
          left: 0;
          box-shadow: 0px 5px 12px 0px #ccc;
          border-radius: 0px 0px 10px 0px;
        }

        #modules table {
          background-color: white;
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          border-collapse: collapse;
        }

        .th-inner {
          position: absolute;
          top: 0;
        }
        th:nth-child(1) .th-inner {
          text-align: right;
        }
        .th-content {
            height: 75px;
        }
        .th-inner div {
            height: 25px;
        }
        .tr-odd {
            background-color: #eee;
        }

        .bad-text-input {
            background-color: #fcc;
        }

    script.
        $(document).ready(function() {
            var edge_length = 1
            function moduleName() {
                return $(this).parent().parent().children().first().text()
            }
            function diagramParam() {
                function checkedModules(className) {
                    return $('.'+className+':checked').map(moduleName).get()
                }
                return {
                    indep: checkedModules('indep'),
                    outdep: checkedModules('outdep'),
                    ignore: checkedModules('ignore'),
                    visualizer: $('#visualizer').val(),
                    edge_length: edge_length,
                    indirect: $('#indirect').prop('checked'),
                    detailed: $('#detailed').prop('checked'),
                }
            }
            function loadDiagram() {
                var p = diagramParam()
                var h = $('#header')
                h.html(
                    'indep: ' + p.indep.join(' ') +
                    '<br/>outdep: ' + p.outdep.join(' ') +
                    '<br/>ignore: ' + p.ignore.join(' ')
                    )
                $.get('/diagram', p)
                    .done(function(url) {
                        $('#diagramImage').attr('src', url)
                    })
                    .fail(function(xhr, text) {
                        h.append('<br/>Failed to get diagram url: ' + (xhr.statusText || text) + ' (' + xhr.status + ')')
                    })
            }
            function moduleCheckboxChanged() {
                var o = $(this)
                if (!o.hasClass('ignore'))
                    o.parent().parent().find('.ignore').prop('checked', false)
                loadDiagram()
            }
            $('.internal, .outdep, .indep, .ignore').click(moduleCheckboxChanged)
            $('#indirect, #detailed').click(loadDiagram)

            function checkAll(className, checked) {
                $('.'+className+':visible').each(function() {
                    var o = $(this)
                    var cancel = checked && !o.prop('checked') && o.parent().parent().find('.ignore').prop('checked')
                    if (!cancel)
                        o.prop('checked', checked)
                })
                loadDiagram()
            }
            $('.outdep_all').click(checkAll.bind(null, 'outdep', true))
            $('.outdep_none').click(checkAll.bind(null, 'outdep', false))
            $('.indep_all').click(checkAll.bind(null, 'indep', true))
            $('.indep_none').click(checkAll.bind(null, 'indep', false))
            $('.ignore_all').click(checkAll.bind(null, 'ignore', true))
            $('.ignore_none').click(checkAll.bind(null, 'ignore', false))

            $('#visualizer').change(loadDiagram)
            $('#edge_length').slider({
                value:1,
                min: 1,
                max: 5,
                step: 0.5,
                slide: function(event, ui) {
                    edge_length = ui.value
                    loadDiagram()
                }
            })

            function styleModuleRows() {
                $('#modules tbody tr:visible:odd').addClass('tr-odd')
                $('#modules tbody tr:visible:even').removeClass('tr-odd')
            }
            styleModuleRows()

            /*
            function filterModules(show) {
                var tbl = $('#modules tbody')
                if (show) {
                    tbl.children(show).show('fast')
                    tbl.children(':not('+show+')').hide('fast')
                    tbl.children().promise().done(styleModuleRows)
                }
                else
                    tbl.children().show('fast').promise().done(styleModuleRows)
            }
            */
            function filterModules() {
                try {
                    var filterText = new RegExp($('#filter-name').val())
                    }
                catch(err) {
                    $('#filter-name').addClass('bad-text-input')
                    return
                }
                $('#filter-name').removeClass('bad-text-input')
                var filterSel = $("input:radio[name='filter']:checked").val()
                var all = $('#modules tbody').children(),   show = [],   hide = []
                all.each(function() {
                    var o = $(this)
                    var coll = (!filterSel || o.is(filterSel)) && o.children().first().text().match(filterText)? show: hide
                    coll.push(this)
                })
                $(show).show('fast')
                $(hide).hide('fast')
                all.promise().done(styleModuleRows)
            }

            $('.filter-option').click(filterModules)
            $('#filter-name').on('input', filterModules)

        })
    if req.buildInfo.data
        #param
            .padding
                div
                    span Visualizer
                    select#visualizer(selected='dot')
                        option(value='dot') dot
                        option(value='neato') neato
                        option(value='fdp') fdp
                        option(value='sfdp') sfdp
                        option(value='twopi') twopi
                        option(value='circo') circo
                div
                    .param Edge length / rank separation
                    #edge_length
                .param
                    input#indirect(type='checkbox')
                    span Indirect
                    input#detailed(type='checkbox')
                    span Detailed
        #filter
            .padding-h
                .param
                    input.filter-option(type='radio' name='filter' value='' checked)
                    span All
                    input.filter-option(type='radio' name='filter' value=':not(.foreign)')
                    span Built
                    input.filter-option(type='radio' name='filter' value='.foreign')
                    span Not built
                    input.filter-option(type='radio' name='filter' value='.current')
                    span Current
                    br
                    span Name
                    input#filter-name(type='text')
        #modules
            //-
                Note: Fixed table header implementation is based on this:
                http://salzerdesign.com/test/fixedTable.html
            .header-background
            .fixed-table-container-inner
                table
                    thead
                        tr
                            th
                                .th-content
                                .th-inner
                                    div module
                                    div all
                                    div none
                            th
                                .th-inner
                                    div o
                                    div
                                        input.internal_all(type='button')
                                    div
                                        input.internal_none(type='button')
                            th
                                .th-inner
                                    div ->
                                    div
                                        input.outdep_all(type='button')
                                    div
                                        input.outdep_none(type='button')
                            th
                                .th-inner
                                    div <-
                                    div
                                        input.indep_all(type='button')
                                    div
                                        input.indep_none(type='button')
                            th
                                .th-inner
                                    div x
                                    div
                                        input.ignore_all(type='button')
                                    div
                                        input.ignore_none(type='button')
                    tbody
                        each module in req.buildInfo.data.sortedModules
                            tr(class=!module.built?'foreign':'')
                                td= module.name
                                td
                                    input.internal(type='checkbox')
                                td
                                    input.outdep(type='checkbox')
                                td
                                    input.indep(type='checkbox')
                                td
                                    input.ignore(type='checkbox')
        #header
            h1 Select modules to show diagram for
        #diagram
            .padding
                img#diagramImage(src='images/question.png')
    else
        h1 Build dependency analyzer
        h2 Build directory: #{req.buildInfo.builddir}
        p Wait till the data is generated (then reload page)
